footer
  p
    i.fa.fa-instagram
      a(href="https://www.instagram.com/peak_london")  peak_london
  p
    i.fa.fa-at
    a(href="mailto:info@peak-art.org")  info@peak-art.org
  p
    i.fa.fa-phone
    a(href="tel:07930324321")  07930324321
  p       
    i.fa.fa-envelope
    |  Peak, 42069 Mystery Street, London, FU NEX
