head
  meta(
    charset="utf-8" name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1"
  )
  title Peak
  link(rel="stylesheet", href=stylesheet)
  script(src="https://kit.fontawesome.com/50a7cad9ae.js" crossorigin="anonymous") 

