extends layouts/public-layout

block main
  main
    img#mainimage(src="static/images/sand-dogs.jpg")

  div#titlecard
    p.worktitle My Shoes Hurt And I Need A Bath
    p.artistname Big Jim Rand
    p.medium Crayon on wall
    p.editioninfo Signed, edition of 24
